body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.logo {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    font-weight: bold;
    color: #FFD700;
}

#auth-container input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#auth-container button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    #auth-container button:hover {
        background-color: #ffcc00;
    }

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    border: 3px solid #FFD700;
    border-radius: 15px;
    padding: 20px;
    width: 150px;
    background-color: white;
}

    .option img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .option span {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
    }

    .option:hover {
        transform: scale(1.1);
        background-color: #FFD700;
        color: white;
    }

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

    footer a {
        text-decoration: none;
        color: #FFD700;
    }

        footer a:hover {
            color: #ffcc00;
        }

.facts-container {
    margin: 40px auto;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    background-color: white;
    border: 3px solid #FFD700;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
